
@import "tailwindcss";
@import "react-datepicker/dist/react-datepicker.css";



:root {
  --color-primary: #fff;              /* Fondo principal */
  --color-primary-text: #312f6a;      /* Texto principal */
  --color-secondary: #fbfbc4;         /* Amarillo claro */
  --color-accent-bg: #6bace3;            /* Azul claro */
  --color-error: #e3341c;             /* Rojo brillante */
  --color-errorDark: #8a2b24;         /* Rojo oscuro */
  --color-errorLight: #b54139;        /* Rojo medio */
  --color-neutral: #a494ac;           /* Gris violáceo */
  --color-neutralDark: #c3737b;       /* Rosa oscuro */
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--color-primary);
  color: var(--color-primary-text);
}